In [1]:
# Data Preprocessing
# Step 1. Import pre-libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Step 2. Import dataset
dataset = pd.read_csv('Data\data_pre1.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
# Step 3. Matrix of features
X = dataset.loc[:, ['Country', 'Age', 'Salary']]
Y = dataset.iloc[:,-1:]

In [5]:
# Step 4. Missing data management
# Check for missing value
# Check columnwise
X.isnull().sum()
# Find NaN percentange columnwise
NAN = [(clm_name, dataset[clm_name].isna().mean()*100) for clm_name in dataset]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
# If percentage is greater than 50 we are going to drop those columns
# Check threshold crossing column names
NAN[NAN['percentage'] > 50]
# Drop using drop methods from original dataset

# Using SimpleImputer
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy="mean")
X.loc[:, ['Age', 'Salary']] = imputer.fit_transform(X.loc[:, ['Age', 'Salary']])

In [6]:
# Step 5. Categorical data management
# We can use get_dummies also
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
# One for independent variable
clm_x = ColumnTransformer([("Combine",
                            OneHotEncoder(),[0])], 
                            remainder="passthrough")
X = clm_x.fit_transform(X)

# One for dependent variable here we need only Label Encoder
from sklearn.preprocessing import LabelEncoder
labelencoderY = LabelEncoder()
Y = labelencoderY.fit_transform(Y.values.ravel())

In [7]:
# 6. Splitting of dataset
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [8]:
# 7. Feature scaling
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.transform(X_test)